<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>The National Institute Of Engineering | Placement Portal</title>
</head>
<body>
<pre>
NIE has an excellent and fully functional ISO 9001:2008 certified Training and Placement Division. The T&P Division has adequate infrastructure comprising of group Discussion and Interview Rooms. The placement cell is equipped with Computers with internet facility. The placement cell maintains a database of all the registered students with all relevant details and information of companies visiting the campus. A large number of companies visit the campus every year and recruit eligible students from the campus. The number of students placed through campus recruitment activity is increasing every year, except for the year 2008-2009.

Harshith Divakar, Training and Placement Officer, is in charge of placement and training activities. The placement cell in NIE is also assisted by student coordinators who are elected by the students from all branches.

During the academic years 2009-10, 2010-11, 2011-12, 2012-13, 2013-14 we had the privilege of being visited by 68 companies including 44 IT-companies and 24 non-IT companies each year. A total of 1849 students have been placed through campus recruitment in the last five years. For the year 2014-15 till date we have 435 students placed and 52 companies visited the campus. We had the good fortune of being visited by core companies specific to each domain such as ABB LTD., Mercedeces Benz and LARSEN & TOUBRO LTD for Mechanical and Industrial & Production, BROADCOM & NATIONAL INSTRUMENTS for Electrical & Electronics and Electronics & Communication, TCS, WIPRO for Computer Science and also by many dream companies to name a few, such as CISCO, IBM, AMAZON, GOOGLE, SAP LABS and MICROSOFT.

The placement cell library has a good collection of books and materials related to placement and overall personality development.
</pre>
</body>
</html>