<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="placement_portal" content="college placement portal">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>The National Institute Of Engineering | Placement Portal</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="..css/index.css" type="text/css" rel="stylesheet>
<body>
   <ul class="nav nav-tabs">
   <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
   <h5 class="my-0 mr-md-auto font-weight-normal">THE NATIONAL INSTITUTE OF ENGINEERING</h5>
   <nav class="my-2 my-md-0 mr-md-3">
   <ul class="nav nav-tabs">
        <a class="p-2 text-dark" href="#">Home</a>
        <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" data-toggle="dropdown" 
           href="#" role="button" aria-haspopup="true" aria-expanded="false">Institute Profile</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">About NIE College</a>
              <a class="dropdown-item" href="#">Placement Records</a>
              <a class="dropdown-item" href="#">Past Recruiters</a>
            </div>
        </li>
        <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" data-toggle="dropdown" 
           href="#" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
            <div class="dropdown-menu">
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="admin_login/">Login</a>  
            </div>
        </li>
         <li class="nav-item dropdown">
           <a class="nav-link dropdown-toggle" data-toggle="dropdown" 
           href="#" role="button" aria-haspopup="true" aria-expanded="false">Student</a>
            <div class="dropdown-menu">
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="user_login/">Login</a>  
            </div>
        </li>
      </nav>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
</html>