
/* Split the screen in half */

.btn{
	padding-top:10		0px;
	padding-bottom:100px;
	padding-right:30px;
	padding-left:30px;
	background:#27AEE3;
	font-family: Arial;
	font-size:30px;
	color:white;
	margin:10px;
	float:right;
	align-self:right;
}
.row
{
	border: 1px solid grey;
}
/* If you want the content centered horizontally and vertically */
		
